* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D4CDF4;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    height: 20vmin;
    width: 20vmin;
    font-size: 8vmin;
    color: #3FA7D6;
    background-color: #FAC05E;
    border-color: unset;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FAC05E;
    color: black;
}

.msg-container {
    color: black;
    font-size: 8vmin;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FAC05E;
    color: black;
}

.hide {
    display: none;
}